In [6]:
from cassandra.cluster import Cluster
import pandas as pd

In [2]:
cluster =Cluster(['0.0.0.0'], port=9042)
session = cluster.connect("academic")

In [5]:

print("Reading data ")

rows = session.execute("Select * from student;")
for i in rows:
    print(i)

Reading data
Row(id='202012004', dob=None, gpa=None, hpnumber=SortedSet(['0811223344']), ismale=False, name=' Zea May')
Row(id='202011003', dob=None, gpa=None, hpnumber=SortedSet(['08123456789', '0897654321']), ismale=None, name='Oryza Sativa')
Row(id='201911007', dob=Date(11638), gpa=None, hpnumber=None, ismale=True, name='Rajabasa')
Row(id='202012010', dob=None, gpa=None, hpnumber=None, ismale=None, name='dfsdfsdsf')
Row(id='202012009', dob=None, gpa=None, hpnumber=None, ismale=None, name='kariola')

In [4]:
session.execute("Insert into student (id,dob,gpa,hpnumber,ismale,name) VALUES ('202012010',null,null,null,null,'dfsdfsdsf');")

In [10]:
path ='/home/spetz/Downloads/archive/movie.csv'

In [11]:
file=open(path).readlines()

In [17]:
len(file)
data=''
for i in file: 
    data += i

In [37]:
import csv

col_list = ["movieId", "title","genres"]

df = pd.read_csv("/home/spetz/Downloads/archive/movie.csv", usecols=col_list)
#file.readlines()

In [38]:
df=df.drop(columns=["genres"])

In [39]:
df

       movieId                               title
0            1                    Toy Story (1995)
1            2                      Jumanji (1995)
2            3             Grumpier Old Men (1995)
3            4            Waiting to Exhale (1995)
4            5  Father of the Bride Part II (1995)
...        ...                                 ...
27273   131254        Kein Bund für's Leben (2007)
27274   131256       Feuer, Eis & Dosenbier (2002)
27275   131258                  The Pirates (2014)
27276   131260                 Rentun Ruusu (2001)
27277   131262                    Innocence (2014)

[27278 rows x 2 columns]

In [26]:
columns_list = ["userId", "movieId","rating","timestamp"]
dx=pd.read_csv("/home/spetz/Downloads/archive/rating.csv", usecols=columns_list)
dx

          userId  movieId  rating            timestamp
0              1        2     3.5  2005-04-02 23:53:47
1              1       29     3.5  2005-04-02 23:31:16
2              1       32     3.5  2005-04-02 23:33:39
3              1       47     3.5  2005-04-02 23:32:07
4              1       50     3.5  2005-04-02 23:29:40
...          ...      ...     ...                  ...
20000258  138493    68954     4.5  2009-11-13 15:42:00
20000259  138493    69526     4.5  2009-12-03 18:31:48
20000260  138493    69644     3.0  2009-12-07 18:10:57
20000261  138493    70286     5.0  2009-11-13 15:42:24
20000262  138493    71619     2.5  2009-10-17 20:25:36

[20000263 rows x 4 columns]

In [28]:
dx=dx.drop(columns=["userId"])

In [32]:
query1=pd.concat([df, dx], axis=1, ignore_index=False)

In [35]:
query1.head()

                                title  movieId  rating            timestamp
0                    Toy Story (1995)        2     3.5  2005-04-02 23:53:47
1                      Jumanji (1995)       29     3.5  2005-04-02 23:31:16
2             Grumpier Old Men (1995)       32     3.5  2005-04-02 23:33:39
3            Waiting to Exhale (1995)       47     3.5  2005-04-02 23:32:07
4  Father of the Bride Part II (1995)       50     3.5  2005-04-02 23:29:40