In [1]:
#from cassandra.cluster import Cluster
import pandas as pd 
import collections
import numpy as np

In [84]:
import csv

col_list = ["movieId", "title","genres"]

df = pd.read_csv("/home/spetz/Downloads/archive/movie.csv", usecols=col_list)
#file.readlines()
for_query2=df

In [85]:
df=df.drop(columns=["genres"])

In [7]:
columns_list = ["userId", "movieId","rating","timestamp"]
dx=pd.read_csv("/home/spetz/Downloads/archive/rating.csv", usecols=columns_list)
dx=dx.sort_values("movieId")
dx=dx[:10000000]

In [8]:
dx=dx.drop(columns=["userId"])
dx

          movieId  rating            timestamp
14162882        1     3.0  2008-06-11 04:47:11
15347420        1     5.0  2013-01-29 03:33:49
15347355        1     3.0  2002-07-31 15:48:53
10170195        1     4.5  2011-02-13 18:55:40
10170255        1     3.5  2008-01-26 16:56:54
...           ...     ...                  ...
7816716      2167     4.0  2003-04-09 00:25:00
8114556      2167     4.0  2005-01-30 21:04:59
10750246     2167     2.0  2000-04-05 02:33:11
19621413     2167     1.0  2000-08-02 02:31:03
12355909     2167     3.0  2012-08-25 05:39:37

[10000000 rows x 3 columns]

In [57]:
new_list = list()
dicts={}
dxx = dx[(dx['timestamp'] > '2015-01-01') & (dx['timestamp'] <= '2015-01-15')]
for i in range(len(dxx)):
    ar = dxx.loc[(dx['movieId'] == i ) & (dx['rating'] <= 10)]
    rating=ar.apply("rating").sum()
    movies_num=ar['movieId'].value_counts()
    x=sum(rating/movies_num)
    new_list.append(x)
    first_value = dxx['movieId'].iat[i]
    dicts[i] = new_list[i]
dicts

{0: 0,
 1: 3.652173913043478,
 2: 2.9242424242424243,
 3: 2.8333333333333335,
 4: 4.0,
 5: 2.7857142857142856,
 6: 4.166666666666667,
 7: 2.625,
 8: 1.5,
 9: 0,
 10: 3.09375,
 11: 2.875,
 12: 2.4166666666666665,
 13: 0.5,
 14: 3.125,
 15: 2.75,
 16: 4.217391304347826,
 17: 4.052631578947368,
 18: 2.7857142857142856,
 19: 2.7962962962962963,
 20: 3.75,
 21: 3.75,
 22: 3.1666666666666665,
 23: 3.4166666666666665,
 24: 2.875,
 25: 3.6666666666666665,
 26: 0,
 27: 3.0,
 28: 3.75,
 29: 3.8333333333333335,
 30: 0,
 31: 3.5,
 32: 3.9272727272727272,
 33: 0,
 34: 3.0555555555555554,
 35: 3.5,
 36: 4.111111111111111,
 37: 0,
 38: 1.0,
 39: 3.1,
 40: 0,
 41: 3.0,
 42: 4.0,
 43: 0,
 44: 2.9375,
 45: 4.5,
 46: 4.0,
 47: 4.115384615384615,
 48: 3.34375,
 49: 0,
 50: 4.192622950819672,
 51: 0,
 52: 2.5,
 53: 0,
 54: 3.0,
 55: 0,
 56: 0,
 57: 2.5,
 58: 0,
 59: 0,
 60: 2.7857142857142856,
 61: 0,
 62: 3.5714285714285716,
 63: 1.8333333333333333,
 64: 0,
 65: 0.5,
 66: 0.5,
 67: 0,
 68: 0,
 69: 2.75,
 70: 3.6470588235294117,
 71: 1.1666666666666667,
 72: 4.0,
 73: 0,
 74: 1.75,
 75: 0,
 76: 0.5,
 77: 0,
 78: 0,
 79: 0,
 80: 0,
 81: 3.1,
 82: 0,
 83: 0,
 84: 0,
 85: 0,
 86: 2.5,
 87: 2.0,
 88: 3.5,
 89: 3.125,
 90: 0,
 91: 0,
 92: 0,
 93: 2.25,
 94: 3.0,
 95: 2.7,
 96: 0,
 97: 4.333333333333333,
 98: 0,
 99: 0,
 100: 0,
 101: 3.3333333333333335,
 102: 0,
 103: 0,
 104: 2.8863636363636362,
 105: 3.25,
 106: 0,
 107: 3.0,
 108: 0,
 109: 0,
 110: 3.797752808988764,
 111: 4.0576923076923075,
 112: 2.375,
 113: 0,
 114: 0,
 115: 0,
 116: 0,
 117: 3.0,
 118: 0,
 119: 0,
 120: 0,
 121: 0,
 122: 5.0,
 123: 4.25,
 124: 0,
 125: 2.0,
 126: 2.0,
 127: 0,
 128: 0,
 129: 0,
 130: 0,
 131: 0,
 132: 4.0,
 133: 0,
 134: 0,
 135: 0.75,
 136: 0,
 137: 0,
 138: 0,
 139: 0,
 140: 0,
 141: 4.03125,
 142: 0,
 143: 0,
 144: 0,
 145: 3.175,
 146: 0,
 147: 4.125,
 148: 0,
 149: 0,
 150: 3.5555555555555554,
 151: 3.25,
 152: 0,
 153: 2.026315789473684,
 154: 3.5714285714285716,
 155: 4.0,
 156: 0,
 157: 3.5,
 158: 2.4615384615384617,
 159: 3.5,
 160: 3.8333333333333335,
 161: 3.4615384615384617,
 162: 3.142857142857143,
 163: 3.526315789473684,
 164: 4.0,
 165: 3.526315789473684,
 166: 2.75,
 167: 0,
 168: 2.2,
 169: 2.25,
 170: 3.625,
 171: 0,
 172: 2.4,
 173: 2.076923076923077,
 174: 1.0,
 175: 3.75,
 176: 0,
 177: 2.25,
 178: 0,
 179: 0,
 180: 3.0714285714285716,
 181: 3.0,
 182: 0,
 183: 0,
 184: 0,
 185: 2.5,
 186: 2.4,
 187: 3.0,
 188: 2.75,
 189: 0,
 190: 0,
 191: 2.5,
 192: 0,
 193: 2.85,
 194: 3.5,
 195: 0,
 196: 2.4545454545454546,
 197: 0,
 198: 2.1666666666666665,
 199: 2.8333333333333335,
 200: 0,
 201: 0,
 202: 3.0,
 203: 5.0,
 204: 2.5,
 205: 0,
 206: 0,
 207: 3.25,
 208: 2.911764705882353,
 209: 0,
 210: 0,
 211: 0,
 212: 0,
 213: 0,
 214: 0,
 215: 3.5,
 216: 2.388888888888889,
 217: 3.0,
 218: 3.5,
 219: 0,
 220: 4.0,
 221: 0,
 222: 5.0,
 223: 3.5454545454545454,
 224: 2.0,
 225: 3.5,
 226: 0,
 227: 1.25,
 228: 3.0,
 229: 3.8333333333333335,
 230: 3.5833333333333335,
 231: 2.9047619047619047,
 232: 3.75,
 233: 4.5,
 234: 3.5,
 235: 4.0,
 236: 2.875,
 237: 0.5,
 238: 0,
 239: 2.25,
 240: 0,
 241: 0,
 242: 4.5,
 243: 0,
 244: 0,
 245: 0,
 246: 3.625,
 247: 3.7,
 248: 0.5,
 249: 3.75,
 250: 0,
 251: 0,
 252: 0,
 253: 3.72,
 254: 0,
 255: 0,
 256: 0.75,
 257: 3.75,
 258: 0.5,
 259: 0,
 260: 3.8968253968253967,
 261: 4.0,
 262: 2.75,
 263: 0,
 264: 0,
 265: 4.0,
 266: 3.4615384615384617,
 267: 2.8333333333333335,
 268: 0,
 269: 0,
 270: 0,
 271: 0,
 272: 3.5,
 273: 2.75,
 274: 0,
 275: 1.0,
 276: 0,
 277: 2.9,
 278: 0,
 279: 3.0,
 280: 3.25,
 281: 0.5,
 282: 3.5,
 283: 0,
 284: 0,
 285: 0,
 286: 0,
 287: 0,
 288: 3.45,
 289: 0,
 290: 3.3333333333333335,
 291: 0,
 292: 3.590909090909091,
 293: 4.190476190476191,
 294: 0,
 295: 0,
 296: 4.292253521126761,
 297: 0,
 298: 0,
 299: 0,
 300: 3.0833333333333335,
 301: 0,
 302: 3.5,
 303: 2.375,
 304: 0,
 305: 2.6666666666666665,
 306: 4.25,
 307: 4.055555555555555,
 308: 4.0,
 309: 0,
 310: 0,
 311: 0,
 312: 0,
 313: 2.0,
 314: 0,
 315: 2.25,
 316: 3.25,
 317: 2.1,
 318: 4.2560975609756095,
 319: 3.875,
 320: 0,
 321: 0,
 322: 3.5,
 323: 0,
 324: 0,
 325: 0,
 326: 3.5,
 327: 2.75,
 328: 0.5,
 329: 2.2,
 330: 0,
 331: 0,
 332: 2.5,
 333: 2.909090909090909,
 334: 0,
 335: 0,
 336: 0,
 337: 3.4642857142857144,
 338: 2.25,
 339: 3.3125,
 340: 3.25,
 341: 0,
 342: 4.0,
 343: 0,
 344: 3.0208333333333335,
 345: 4.333333333333333,
 346: 0,
 347: 0,
 348: 0,
 349: 3.5555555555555554,
 350: 3.4,
 351: 0.5,
 352: 0,
 353: 3.6666666666666665,
 354: 0,
 355: 1.4,
 356: 3.9565217391304346,
 357: 3.5789473684210527,
 358: 3.5,
 359: 0,
 360: 2.5,
 361: 3.0,
 362: 2.2777777777777777,
 363: 5.0,
 364: 3.6052631578947367,
 365: 0,
 366: 3.25,
 367: 2.75,
 368: 2.7777777777777777,
 369: 0,
 370: 3.2058823529411766,
 371: 3.375,
 372: 3.0,
 373: 3.0,
 374: 2.25,
 375: 0,
 376: 2.375,
 377: 3.293103448275862,
 378: 0,
 379: 3.0,
 380: 3.5789473684210527,
 381: 2.3333333333333335,
 382: 2.875,
 383: 2.5,
 384: 0,
 385: 0,
 386: 0,
 387: 0,
 388: 0,
 389: 0,
 390: 3.5,
 391: 0,
 392: 0,
 393: 1.0,
 394: 0,
 395: 0,
 396: 0,
 397: 0,
 398: 0,
 399: 0,
 400: 0,
 401: 0,
 402: 0,
 403: 0,
 404: 0,
 405: 0.5,
 406: 0,
 407: 4.0,
 408: 0,
 409: 0,
 410: 3.4166666666666665,
 411: 0,
 412: 3.25,
 413: 2.375,
 414: 3.0,
 415: 3.0,
 416: 3.5,
 417: 4.5,
 418: 0,
 419: 4.0,
 420: 2.6875,
 421: 4.5,
 422: 0,
 423: 3.0,
 424: 0,
 425: 0,
 426: 4.0,
 427: 2.25,
 428: 3.8333333333333335,
 429: 0.5,
 430: 0,
 431: 4.115384615384615,
 432: 0.5,
 433: 1.5,
 434: 3.25,
 435: 2.3333333333333335,
 436: 2.0,
 437: 0,
 438: 2.5,
 439: 0,
 440: 4.1,
 441: 3.611111111111111,
 442: 3.3181818181818183,
 443: 0,
 444: 0,
 445: 0,
 446: 3.75,
 447: 0,
 448: 4.166666666666667,
 449: 0,
 450: 2.75,
 451: 0,
 452: 0,
 453: 2.5,
 454: 3.8333333333333335,
 455: 2.5555555555555554,
 456: 3.5,
 457: 3.710526315789474,
 458: 3.0,
 459: 0,
 460: 0,
 461: 0,
 462: 0,
 463: 2.5,
 464: 3.25,
 465: 0,
 466: 2.1666666666666665,
 467: 0,
 468: 0,
 469: 3.0,
 470: 0,
 471: 2.875,
 472: 1.0,
 473: 0.5,
 474: 3.5416666666666665,
 475: 3.7916666666666665,
 476: 0,
 477: 4.0,
 478: 0,
 479: 5.0,
 480: 3.709090909090909,
 481: 3.5,
 482: 3.25,
 483: 0,
 484: 0,
 485: 2.75,
 486: 0,
 487: 0,
 488: 0,
 489: 0,
 490: 0,
 491: 0,
 492: 3.6666666666666665,
 493: 4.0,
 494: 3.375,
 495: 3.5,
 496: 0,
 497: 3.8,
 498: 0,
 499: 0,
 500: 3.2794117647058822,
 501: 5.0,
 502: 2.25,
 503: 0,
 504: 3.0,
 505: 3.5,
 506: 0,
 507: 3.75,
 508: 3.6818181818181817,
 509: 3.8333333333333335,
 510: 0,
 511: 0,
 512: 0,
 513: 3.0,
 514: 0.5,
 515: 3.4375,
 516: 3.75,
 517: 4.0,
 518: 2.0,
 519: 0,
 520: 3.076923076923077,
 521: 4.0,
 522: 0,
 523: 0,
 524: 1.75,
 525: 0,
 526: 0,
 527: 3.877049180327869,
 528: 2.5,
 529: 3.75,
 530: 0,
 531: 3.6,
 532: 0.5,
 533: 2.0,
 534: 3.5,
 535: 3.625,
 536: 3.5,
 537: 0,
 538: 4.0,
 539: 3.0294117647058822,
 540: 4.0,
 541: 4.254098360655738,
 542: 0.5,
 543: 2.625,
 544: 3.5,
 545: 0,
 546: 1.25,
 547: 0,
 548: 3.0,
 549: 4.5,
 550: 4.0,
 551: 3.7115384615384617,
 552: 2.8333333333333335,
 553: 3.7,
 554: 0,
 555: 3.8181818181818183,
 556: 0,
 557: 0,
 558: 0,
 559: 0,
 560: 0,
 561: 0,
 562: 1.75,
 563: 0,
 564: 0,
 565: 3.5,
 566: 0,
 567: 0,
 568: 0,
 569: 0,
 570: 0,
 571: 0,
 572: 0,
 573: 0,
 574: 0,
 575: 2.5,
 576: 0,
 577: 0,
 578: 0,
 579: 0,
 580: 0,
 581: 0,
 582: 0,
 583: 0,
 584: 0,
 585: 3.25,
 586: 3.25,
 587: 3.0625,
 588: 3.6025641025641026,
 589: 3.8375,
 590: 3.411764705882353,
 591: 0,
 592: 3.4642857142857144,
 593: 3.8702290076335877,
 594: 3.423076923076923,
 595: 3.42,
 596: 3.7142857142857144,
 597: 3.2083333333333335,
 598: 0,
 599: 3.9,
 600: 0,
 601: 0,
 602: 0,
 603: 0,
 604: 0,
 605: 1.8333333333333333,
 606: 0,
 607: 0,
 608: 4.12962962962963,
 609: 3.25,
 610: 3.25,
 611: 0,
 612: 0,
 613: 3.0,
 614: 0,
 615: 0,
 616: 3.1875,
 617: 0,
 618: 0,
 619: 0,
 620: 0,
 621: 0,
 622: 0,
 623: 0,
 624: 0,
 625: 0,
 626: 0,
 627: 0,
 628: 3.7857142857142856,
 629: 0,
 630: 0,
 631: 0,
 632: 0,
 633: 0,
 634: 0,
 635: 0,
 636: 0,
 637: 0.5,
 638: 0,
 639: 0,
 640: 2.75,
 641: 0,
 642: 0,
 643: 0,
 644: 0,
 645: 4.0,
 646: 0,
 647: 3.7142857142857144,
 648: 3.3333333333333335,
 649: 0,
 650: 0,
 651: 0,
 652: 0,
 653: 3.625,
 654: 0,
 655: 0,
 656: 2.0,
 657: 0,
 658: 0,
 659: 0,
 660: 0,
 661: 2.4,
 662: 3.5,
 663: 3.0,
 664: 0,
 665: 4.5,
 666: 0,
 667: 0,
 668: 4.5,
 669: 0,
 670: 4.0,
 671: 0.5,
 672: 0,
 673: 2.7222222222222223,
 674: 0,
 675: 0,
 676: 0,
 677: 0,
 678: 3.6,
 679: 0,
 680: 2.875,
 681: 0,
 682: 0,
 683: 0,
 684: 0,
 685: 0,
 686: 0,
 687: 0,
 688: 3.5,
 689: 0,
 690: 0,
 691: 0,
 692: 0,
 693: 0,
 694: 0,
 695: 0,
 696: 0,
 697: 0,
 698: 0,
 699: 0,
 700: 0,
 701: 0,
 702: 4.5,
 703: 0,
 704: 0,
 705: 0,
 706: 0,
 707: 1.5,
 708: 3.3125,
 709: 3.75,
 710: 2.5,
 711: 2.0,
 712: 0,
 713: 0,
 714: 2.95,
 715: 0,
 716: 0,
 717: 0,
 718: 2.5,
 719: 1.75,
 720: 3.9285714285714284,
 721: 0,
 722: 0,
 723: 0,
 724: 2.9,
 725: 0,
 726: 0,
 727: 0,
 728: 0.5,
 729: 0,
 730: 0,
 731: 0,
 732: 0,
 733: 3.642857142857143,
 734: 0,
 735: 0,
 736: 2.5789473684210527,
 737: 0.5,
 738: 0,
 739: 0,
 740: 0,
 741: 3.5789473684210527,
 742: 1.6666666666666667,
 743: 2.1,
 744: 0,
 745: 3.5,
 746: 0,
 747: 3.5,
 748: 0.5,
 749: 0,
 750: 4.1525423728813555,
 751: 0,
 752: 0,
 753: 0,
 754: 0,
 755: 0,
 756: 0,
 757: 3.5,
 758: 0,
 759: 0,
 760: 3.3333333333333335,
 761: 1.0,
 762: 2.5,
 763: 0,
 764: 0,
 765: 3.3333333333333335,
 766: 0,
 767: 0,
 768: 0,
 769: 0,
 770: 0,
 771: 0,
 772: 0,
 773: 0,
 774: 0,
 775: 0,
 776: 0,
 777: 0,
 778: 3.9193548387096775,
 779: 0,
 780: 3.1142857142857143,
 781: 3.0,
 782: 3.25,
 783: 2.75,
 784: 2.75,
 785: 2.0,
 786: 2.625,
 787: 0,
 788: 2.0625,
 789: 0,
 790: 0,
 791: 0,
 792: 0,
 793: 0,
 794: 0,
 795: 0,
 796: 0,
 797: 0,
 798: 2.5,
 799: 3.0,
 800: 2.9,
 801: 0,
 802: 2.8,
 803: 0,
 804: 0,
 805: 3.75,
 806: 2.0,
 807: 0,
 808: 0,
 809: 0,
 810: 0.5,
 811: 0,
 812: 0,
 813: 3.5,
 814: 0,
 815: 0,
 816: 0,
 817: 0,
 818: 2.5,
 819: 0,
 820: 0,
 821: 0,
 822: 0,
 823: 5.0,
 824: 0,
 825: 0,
 826: 0,
 827: 0,
 828: 3.0,
 829: 2.75,
 830: 3.0,
 831: 0,
 832: 3.2857142857142856,
 833: 2.5,
 834: 0,
 835: 0,
 836: 2.1666666666666665,
 837: 2.85,
 838: 3.0,
 839: 3.0,
 840: 0,
 841: 4.0,
 842: 4.0,
 843: 0,
 844: 0,
 845: 0,
 846: 0,
 847: 0,
 848: 0,
 849: 3.1666666666666665,
 850: 0,
 851: 0,
 852: 2.6666666666666665,
 853: 0,
 854: 0,
 855: 0,
 856: 0,
 857: 0,
 858: 4.118110236220472,
 859: 0,
 860: 0,
 861: 3.5,
 862: 0,
 863: 0,
 864: 0,
 865: 0,
 866: 2.5,
 867: 0,
 868: 0,
 869: 0,
 870: 0,
 871: 0,
 872: 0,
 873: 0,
 874: 0,
 875: 4.5,
 876: 0,
 877: 0,
 878: 0,
 879: 2.5,
 880: 2.5,
 881: 0,
 882: 0,
 883: 0,
 884: 0,
 885: 0,
 886: 0.5,
 887: 0,
 888: 0,
 889: 0,
 890: 0,
 891: 3.3333333333333335,
 892: 4.5,
 893: 0,
 894: 2.5,
 895: 0,
 896: 0,
 897: 0,
 898: 3.4444444444444446,
 899: 3.7058823529411766,
 900: 3.0,
 901: 3.5,
 902: 3.857142857142857,
 903: 4.153846153846154,
 904: 4.035087719298246,
 905: 4.333333333333333,
 906: 2.75,
 907: 2.5,
 908: 4.041666666666667,
 909: 4.0,
 910: 4.0,
 911: 3.6818181818181817,
 912: 3.6136363636363638,
 913: 3.875,
 914: 3.8333333333333335,
 915: 3.375,
 916: 3.72,
 917: 0,
 918: 5.0,
 919: 3.6458333333333335,
 920: 3.7954545454545454,
 921: 0,
 922: 3.96875,
 923: 4.083333333333333,
 924: 4.411764705882353,
 925: 0,
 926: 4.5,
 927: 5.0,
 928: 4.3076923076923075,
 929: 4.0,
 930: 4.0,
 931: 4.25,
 932: 4.0,
 933: 4.166666666666667,
 934: 0,
 935: 0,
 936: 2.5,
 937: 0,
 938: 0,
 939: 0,
 940: 2.875,
 941: 2.5,
 942: 3.5,
 943: 4.75,
 944: 4.0,
 945: 2.5,
 946: 3.0,
 947: 3.0,
 948: 3.5,
 949: 3.6666666666666665,
 950: 3.4166666666666665,
 951: 4.142857142857143,
 952: 2.5,
 953: 3.826923076923077,
 954: 3.857142857142857,
 955: 3.3333333333333335,
 956: 0,
 957: 0,
 958: 3.0,
 959: 2.5,
 960: 0,
 961: 0,
 962: 0,
 963: 3.5,
 964: 0,
 965: 3.5833333333333335,
 966: 0,
 967: 3.25,
 968: 4.5,
 969: 4.1875,
 970: 0,
 971: 3.5,
 972: 2.0,
 973: 0,
 974: 0,
 975: 0,
 976: 2.5,
 977: 0,
 978: 0,
 979: 0,
 980: 0,
 981: 0,
 982: 0,
 983: 0,
 984: 0,
 985: 0,
 986: 1.75,
 987: 0,
 988: 0,
 989: 0,
 990: 0,
 991: 3.5,
 992: 0,
 993: 0,
 994: 3.5,
 995: 0,
 996: 3.25,
 997: 0,
 998: 0,
 999: 0.5,
 ...}

In [58]:
dicts={x:y for x,y in dicts.items() if y!=0}
#ERWTIMA3
def compare_dict_values(dictionary, given_float):
    return {i: dictionary[i] for i in dictionary if dictionary[i] > given_float}


final_table=compare_dict_values(dicts,4.4)
final_table = pd.DataFrame(list(final_table.items()), columns=['MovieId', 'Rating'])
final_table=final_table.head(30)

In [59]:
df

       movieId                               title
0            1                    Toy Story (1995)
1            2                      Jumanji (1995)
2            3             Grumpier Old Men (1995)
3            4            Waiting to Exhale (1995)
4            5  Father of the Bride Part II (1995)
...        ...                                 ...
27273   131254        Kein Bund für's Leben (2007)
27274   131256       Feuer, Eis & Dosenbier (2002)
27275   131258                  The Pirates (2014)
27276   131260                 Rentun Ruusu (2001)
27277   131262                    Innocence (2014)

[27278 rows x 2 columns]

In [142]:
Query1 = pd.DataFrame(list(dicts.items()), columns=['movieId', 'rating'])

In [143]:
Query1.tail()

      movieId    rating
1111     2160  3.638889
1112     2161  3.583333
1113     2163  0.750000
1114     2166  3.500000
1115     2167  2.941176

In [146]:
df

final_query = Query1.merge(df, on="movieId", how = 'inner')
final_query = final_query.dropna()
final_query

      movieId    rating                                  title
0           1  3.652174                       Toy Story (1995)
1           2  2.924242                         Jumanji (1995)
2           3  2.833333                Grumpier Old Men (1995)
3           4  4.000000               Waiting to Exhale (1995)
4           5  2.785714     Father of the Bride Part II (1995)
...       ...       ...                                    ...
1111     2160  3.638889                 Rosemary's Baby (1968)
1112     2161  3.583333          NeverEnding Story, The (1984)
1113     2163  0.750000  Attack of the Killer Tomatoes! (1978)
1114     2166  3.500000              Return to Paradise (1998)
1115     2167  2.941176                           Blade (1998)

[1116 rows x 3 columns]

In [149]:
#query1
final_query

      movieId    rating                                  title
0           1  3.652174                       Toy Story (1995)
1           2  2.924242                         Jumanji (1995)
2           3  2.833333                Grumpier Old Men (1995)
3           4  4.000000               Waiting to Exhale (1995)
4           5  2.785714     Father of the Bride Part II (1995)
...       ...       ...                                    ...
1111     2160  3.638889                 Rosemary's Baby (1968)
1112     2161  3.583333          NeverEnding Story, The (1984)
1113     2163  0.750000  Attack of the Killer Tomatoes! (1978)
1114     2166  3.500000              Return to Paradise (1998)
1115     2167  2.941176                           Blade (1998)

[1116 rows x 3 columns]

In [156]:
#QUERYY222222222222222222222
for_query2


final_query2 = for_query2.merge(Query1, on="movieId", how = 'inner')
final_query2

,movieId,title,genres,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.652174
1,2,Jumanji (1995),Adventure|Children|Fantasy,2.924242
2,3,Grumpier Old Men (1995),Comedy|Romance,2.833333
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,4.000000
4,5,Father of the Bride Part II (1995),Comedy,2.785714
...,...,...,...,...
1111,2160,Rosemary's Baby (1968),Drama|Horror|Thriller,3.638889
1112,2161,"NeverEnding Story, The (1984)",Adventure|Children|Fantasy,3.583333
1113,2163,Attack of the Killer Tomatoes! (1978),Comedy|Horror,0.750000
1114,2166,Return to Paradise (1998),Crime|Drama|Romance|Thriller,3.500000
1115,2167,Blade (1998),Action|Horror|Thriller,2.941176

In [159]:
final_query2=final_query2.dropna()
final_query2

,movieId,title,genres,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.652174
1,2,Jumanji (1995),Adventure|Children|Fantasy,2.924242
2,3,Grumpier Old Men (1995),Comedy|Romance,2.833333
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,4.000000
4,5,Father of the Bride Part II (1995),Comedy,2.785714
...,...,...,...,...
1111,2160,Rosemary's Baby (1968),Drama|Horror|Thriller,3.638889
1112,2161,"NeverEnding Story, The (1984)",Adventure|Children|Fantasy,3.583333
1113,2163,Attack of the Killer Tomatoes! (1978),Comedy|Horror,0.750000
1114,2166,Return to Paradise (1998),Crime|Drama|Romance|Thriller,3.500000
1115,2167,Blade (1998),Action|Horror|Thriller,2.941176

In [160]:
#Query2
col_list=['userId','movieId','tag','timestamp']
dyy = pd.read_csv("/home/spetz/Downloads/archive/tag.csv", usecols=col_list)

In [161]:
dyy=dyy.drop(columns=['userId','timestamp'])
dyy
final_query22 = final_query2.merge(dyy, on="movieId", how = 'inner')

In [169]:
final_query22
#final_query22.dropna()

,movieId,title,genres,rating,tag
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.652174,Watched
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.652174,computer animation
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.652174,Disney animated feature
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.652174,Pixar animation
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.652174,TÃ©a Leoni does not star in this movie
...,...,...,...,...,...
97822,2167,Blade (1998),Action|Horror|Thriller,2.941176,Netflix Finland
97823,2167,Blade (1998),Action|Horror|Thriller,2.941176,action
97824,2167,Blade (1998),Action|Horror|Thriller,2.941176,Bibliothek
97825,2167,Blade (1998),Action|Horror|Thriller,2.941176,vampire
97826,2167,Blade (1998),Action|Horror|Thriller,2.941176,Wesley Snipes

In [198]:
#QUERY3
final_query3=final_query2.drop(columns=["movieId",'genres','rating'])

In [199]:
final_query3

                                      title
0                          Toy Story (1995)
1                            Jumanji (1995)
2                   Grumpier Old Men (1995)
3                  Waiting to Exhale (1995)
4        Father of the Bride Part II (1995)
...                                     ...
1111                 Rosemary's Baby (1968)
1112          NeverEnding Story, The (1984)
1113  Attack of the Killer Tomatoes! (1978)
1114              Return to Paradise (1998)
1115                           Blade (1998)

[1116 rows x 1 columns]

In [204]:
only_numbers=final_query3['title'].str.extract('(\d+)')
only_numbers.columns=['years']

In [215]:
only_numbers
final_query2['years']= only_numbers['years']
final_query2

,movieId,title,genres,rating,years
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.652174,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,2.924242,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,2.833333,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,4.000000,1995
4,5,Father of the Bride Part II (1995),Comedy,2.785714,1995
...,...,...,...,...,...
1111,2160,Rosemary's Baby (1968),Drama|Horror|Thriller,3.638889,1968
1112,2161,"NeverEnding Story, The (1984)",Adventure|Children|Fantasy,3.583333,1984
1113,2163,Attack of the Killer Tomatoes! (1978),Comedy|Horror,0.750000,1978
1114,2166,Return to Paradise (1998),Crime|Drama|Romance|Thriller,3.500000,1998
1115,2167,Blade (1998),Action|Horror|Thriller,2.941176,1998